@model tp1e18.Models.DataModels.Genre

@{
    ViewBag.Title = "Êtes-vous sûr de vouloir supprimer le genre " + Model.Nom + "?";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.GenreId)
        <div class="form-actions">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
